In [2]:
import pandas as pd

/home/amine/.local/lib/python3.11/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
df=pd.read_csv('test.cars.csv')
df.head()

,_id,price,Marque,Modele,Annee,Energie,Kilometrage,Couleur,options[0],options[1],...,options[6],options[7],options[8],options[9],options[10],options[11],options[12],options[13],options[14],__v
0,66226547ad4c164ca6fa5f30,180 Millions,Baic,D20 Coupé,2021.0,GPL,80000km,Gris Argent,Climatisation,ABS,...,Phares antibrouillard,Radio CD,Alarme,Vitres éléctriques,NaN,NaN,NaN,NaN,NaN,0
1,66226549ad4c164ca6fa5f32,340 Millions,Volkswagen,Golf 7,2014.0,Essence,169000km,Blanc,Climatisation,Toit ouvrant,...,Retroviseurs électriques,Phares antibrouillard,Radio CD,Alarme,Phares xénon,Jantes Alliage,Feux du jour,Vitres éléctriques,NaN,0
2,6622654aad4c164ca6fa5f34,1 Millions,Mercedes,Class A 200 diyazel,2023.0,Diesel,19000km,Blanc,Climatisation,Toit ouvrant,...,Retroviseurs électriques,Phares antibrouillard,Radio CD,Alarme,Phares xénon,Jantes Alliage,Feux du jour,Vitres éléctriques,NaN,0
3,6622654cad4c164ca6fa5f36,162 Millions,Peugeot,208,2013.0,Diesel,400km,Blanc,Climatisation,Toit ouvrant,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,6622654dad4c164ca6fa5f38,1 Millions,Mercedes,Gle,2023.0,Diesel,00km,Noir,Climatisation,Toit ouvrant,...,Retroviseurs électriques,Phares antibrouillard,Radio CD,Alarme,NaN,NaN,NaN,NaN,NaN,0

In [4]:

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3292 entries, 0 to 3291
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   _id          3292 non-null   object
 1   price        3292 non-null   object
 2   Marque       3244 non-null   object
 3   Modele       3244 non-null   object
 4   Annee        3244 non-null   float64
 5   Energie      3177 non-null   object
 6   Kilometrage  3150 non-null   object
 7   Couleur      3169 non-null   object
 8   options[0]   2620 non-null   object
 9   options[1]   2617 non-null   object
 10  options[2]   2574 non-null   object
 11  options[3]   2519 non-null   object
 12  options[4]   2430 non-null   object
 13  options[5]   2327 non-null   object
 14  options[6]   2205 non-null   object
 15  options[7]   2074 non-null   object
 16  options[8]   1911 non-null   object
 17  options[9]   1728 non-null   object
 18  options[10]  1523 non-null   object
 19  options[11]  1301 non-null   object
 20  options[12]  1023 non-null   object
 21  options[13]  645 non-null    object
 22  options[14]  17 non-null     object
 23  __v          3292 non-null   int64
dtypes: float64(1), int64(1), object(22)
memory usage: 617.4+ KB

In [5]:
df.columns

Index(['_id', 'price', 'Marque', 'Modele', 'Annee', 'Energie', 'Kilometrage',
       'Couleur', 'options[0]', 'options[1]', 'options[2]', 'options[3]',
       'options[4]', 'options[5]', 'options[6]', 'options[7]', 'options[8]',
       'options[9]', 'options[10]', 'options[11]', 'options[12]',
       'options[13]', 'options[14]', '__v'],
      dtype='object')

In [6]:
def app(x):
    s=''
    for i in x:
        if i.isdigit():
            s+=i
    return int(s)

In [7]:
df['describe'] = df[['Marque', 'Modele', 'Annee', 'Energie', 'Kilometrage',
       'Couleur', 'options[0]', 'options[1]', 'options[2]', 'options[3]',
       'options[4]', 'options[5]', 'options[6]', 'options[7]', 'options[8]',
       'options[9]', 'options[10]', 'options[11]', 'options[12]',
       'options[13]', 'options[14]', '__v']].apply(lambda x: ' '.join(x.dropna().astype(str)), axis=1)
df['price on M']=df['price'].apply(app)

In [8]:
df.drop(columns=['_id','Marque', 'Modele', 'Annee', 'Energie', 'Kilometrage',
       'Couleur', 'options[0]', 'options[1]', 'options[2]', 'options[3]',
       'options[4]', 'options[5]', 'options[6]', 'options[7]', 'options[8]',
       'options[9]', 'options[10]', 'options[11]', 'options[12]',
       'options[13]', 'options[14]', '__v','price'],inplace=True)
df.head()

                                            describe  price on M
0  Baic D20 Coupé 2021.0 GPL 80000km Gris Argent ...         180
1  Volkswagen Golf 7 2014.0 Essence 169000km Blan...         340
2  Mercedes Class A 200 diyazel 2023.0 Diesel 190...           1
3  Peugeot 208 2013.0 Diesel 400km Blanc Climatis...         162
4  Mercedes Gle 2023.0 Diesel 00km Noir Climatisa...           1

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3292 entries, 0 to 3291
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   describe    3292 non-null   object
 1   price on M  3292 non-null   int64
dtypes: int64(1), object(1)
memory usage: 51.6+ KB

In [10]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import StratifiedKFold

In [11]:
X = df['describe'].astype(str)  # Features
y = df['price on M']

In [12]:
from sklearn.model_selection import StratifiedKFold
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

# Assuming 'df' is your DataFrame with 'describe' and 'price' columns

skf = StratifiedKFold(n_splits=4, shuffle=True, random_state=8)

for i, (train_index, val_index) in enumerate(skf.split(X, y)):
    print(f"\tFold {i}")

    x_train_count = X.iloc[train_index]
    y_train_count = y.iloc[train_index]
    x_val_count = X.iloc[val_index]
    y_val_count = y.iloc[val_index]

    # Convert y_train_count and y_val_count to numpy arrays
    y_train_count = np.array(y_train_count)
    y_val_count = np.array(y_val_count)

    vectorizer = CountVectorizer()
    x_train_count = vectorizer.fit_transform(x_train_count)
    x_val_count = vectorizer.transform(x_val_count)

    model = RandomForestRegressor(random_state=42)

    model.fit(x_train_count, y_train_count)
    y_pred = model.predict(x_val_count)

    # Using mean squared error for evaluation
    mse = mean_squared_error(y_val_count, y_pred)
    print("Mean Squared Error:", mse)

/home/amine/.local/lib/python3.11/site-packages/sklearn/model_selection/_split.py:737: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=4.
  warnings.warn(

	Fold 0
Mean Squared Error: 25848276842133.695
	Fold 1
Mean Squared Error: 297732483003016.2
	Fold 2
Mean Squared Error: 1858900202527061.2
	Fold 3
Mean Squared Error: 170573738273114.72

In [14]:
# import joblib
# joblib.dump(model,'model.pkl')
# joblib.dump(vectorizer,'vectorizer.pkl')

['vectorizer.pkl']